.gallery {
  padding-bottom: 66px;
}
.gallery__container {
  display: flex;
  flex-direction: column;
}
.grid {
  @extend %flex-center-wrap;
  column-gap: 65px;
  row-gap: 130px;
  margin-bottom: 90px;
}
