.post {
  flex-basis: calc((100% - 65px) / 2);
  padding: 5px;
  transition-property: box-shadow, transform, border-radius;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transform: scale(1) skew(0px, 0px);
}
.post:hover {
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.25), 0 4px 4px 0 rgba(0, 0, 0, 0.25),
    0 1px 1px 0 rgba(0, 0, 0, 0.25);
  transform: scale(2) skew(10px, 10px);
  border-radius: 5px;
}
.post__foto {
  margin-bottom: 32px;
}
.post__category {
  @extend %text-ligth;
  margin-bottom: 32px;
}
.post__title {
  font-size: 30px;
  margin-bottom: 40px;
}
