$color-text-primary: #626262;
$color-text-hover: #03a9f4;
$color-text-secondary: #7d7d7d;
$color-text-category: #b4ad9e;
$color-background: #fff;
$font-text-primary: "Playfair Display", serif;
$font-text-secondary: "Ubuntu", sans-serif;
