body {
  font-family: "Playfair Display", serif;
  /* font-family: "Ubuntu", sans-serif */
  font-size: 14px;
  font-weight: 400;
  color: #626262;
}
.container {
  max-width: 936px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
img {
  display: block;
  width: 100%;
}
.header {
  padding-top: 71px;
  padding-bottom: 92px;
}
/* ----------------------header-------------- */
.menu-list {
  display: flex;
  max-width: 555px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}
.menu-link {
  color: #7d7d7d;
}
.menu-link:hover {
  color: #03a9f4;
}
/* ------------------------main------------------ */
.gallery {
  padding-bottom: 66px;
}
.gallery-container {
  display: flex;
  flex-direction: column;
}
.gallery-cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 65px;
  row-gap: 130px;
  margin-bottom: 90px;
}
.gallery-card {
  flex-basis: calc((100% - 65px) / 2);
}
.gallery-foto {
  margin-bottom: 32px;
}
.gallery-category {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  color: #b4ad9e;
  margin-bottom: 32px;
}
.gallery-title {
  font-size: 30px;
  margin-bottom: 40px;
}
.gallery-bottom {
  font-family: "Playfair Display", serif;
  color: #626262;
  background-color: #ffffff;
  padding: 20px 50px;
  border: 1px solid #626262;
  align-self: center;
}
